################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hurmamusic/.vs/Hurmamusic/v16
/Hurmamusic/Hurmamusic/bin/Release/netcoreapp2.2/publish/wwwroot.zip
