################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hurmamusic/.vs/Hurmamusic/v16
