@{
    ViewData["Title"] = "Контакты";
}
<div class="text-center">
    <h1>Контакты</h1>
    <p>По всем вопросам обращаться к <a href="https://vk.com/id19952022" target="_blank">Darya Lukina</a> </p>
</div>


